.digital {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--background-pages);

  @media screen and (min-width: $tablet) {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.digital__layout {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.digital__title-wrap {
  margin-bottom: 26px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 44%;
  }
}

.digital__title {
  font-size: 27px;
  line-height: 120%;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 40px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 3.6vw;
    margin-bottom: 40px;
  }
}

.digital__btn {
  font-size: 16px;
  font-family: Raleway, sans-serif;
  padding: 23px 30px;
  font-weight: 600;
  border: none;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
  box-shadow: inset 0px 0px 0px 2px rgba(221, 221, 221, 1);
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: var(--main-red-color);
    color: var(--main-title-color);
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    padding: 17px 36px;
  }
}

.digital__text-wrap {
  @media screen and (min-width: $desktop) {
    width: 49.32%;
    margin-top: 12px;
  }
}

.digital__text {
  font-size: 16px;
  line-height: 150%;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 160%;
  }
}
