.header {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 60px;
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
  }
}

.home-header {
  position: absolute;
  background-image: none;
}

.other-page-header {
  padding-top: 70px;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/Hero.jpg);
  background-color: rgba(0, 0, 0, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__container {
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-content: center;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.logo__container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: $desktop) {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
}

.logo__link {
  display: block;
  color: var(--main-title-color);
  text-align: center;
  text-decoration: none;

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;

  @media screen and (min-width: $desktop) {
    font-size: 25px;
  }
}

.logo__text {
  font-size: 16px;
  font-weight: 400;
  color: var(--description-header-hero);
}

.contact__container {
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    padding-right: 50px;
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    padding-right: 0px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.contact__icon {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-right: 18px;
  }
}

.contact__tell {
  display: block;
  color: var(--main-title-color);
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 9px;

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.contact__time {
  display: block;
  color: var(--description-header-hero);
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.header-menu__open {
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--main-red-color);
  border: none;
  border-bottom-left-radius: 8px;

  @media screen and (min-width: $tablet) {
    width: 54px;
    height: 54px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.burger {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  width: 280px;
  background-color: var(--background-pages);
  top: 0;
  padding: 50px 30px;
  right: -280px;
  z-index: 1000;
  transition: right 0.3s ease;

  &.open {
    right: 0;
  }

  @media screen and (min-width: $tablet) {
    width: 400px;
    right: -400px;
  }

  @media screen and (min-width: $desktop) {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 70px;
    align-items: start;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: transparent;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}

.burger:hover {
  max-height: 350px;
  width: 73%;
  opacity: 1;
  transition: max-height 0.3s ease;
}

.header-menu__close {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  right: 0;
  top: 0;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.site-nav__list {
  @media screen and (min-width: $desktop) {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.site-nav__item {
  @media screen and (min-width: $desktop) {
    width: auto;
    padding-right: 25px;
  }
}

.site-nav__item-container {
  display: flex;
  align-items: center;
}

.site-nav__link {
  display: block;
  padding: 15px 0;
  color: var(--second-main-text-color);
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: var(--main-red-color);
    transition: all 0.3s ease;
  }

  @media screen and (min-width: $desktop) {
    width: auto;
    flex-wrap: nowrap;
    color: var(--description-header-hero);
    font-weight: 500;
    padding: 24px 0;

    &:hover {
      color: var(--main-title-color);
      transition: all 0.3s ease;
    }
  }
}

.cls-1 {
  @media screen and (min-width: $desktop) {
    fill: var(--description-header-hero);
  }
}

.site-nav__btn {
  width: 27px;
  height: 27px;
  background-color: transparent;
  border: none;
}

.site-nav__dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  width: 100%;

  &.open {
    max-height: 300px;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    width: 320px;
    background-color: var(--background-origin);
    border-radius: 12px;
  }
}

.dropBox:hover .site-nav__dropdown {
  @media screen and (min-width: $desktop) {
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  }
}

.site-nav__item-services {
  padding: 0 0 0 10px;

  @media screen and (min-width: $desktop) {
    padding: 0px;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(194, 194, 194);
    }
  }
}

.site-nav__link-services {
  display: block;
  padding: 15px 20px;
  color: var(--second-main-text-color);
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background-color: var(--background-origin);
    color: var(--main-red-color);
  }

  @media screen and (min-width: $desktop) {
    padding: 24px 30px;
  }
}
.site-nav {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.more-menu__container {
  @media screen and (min-width: $desktop) {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.more-menu__btn {
  display: none;

  @media screen and (min-width: $desktop) {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    width: 35px;
    height: 35px;
    border: solid;
    border-radius: 50%;
    border-width: 1px;
    color: var(--main-title-color);
    font-size: 16px;
    font-weight: 600;
  }
}

.more-menu__list {
  @media screen and (min-width: $desktop) {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    width: 320px;
    position: absolute;
    background-color: var(--background-origin);
    top: 68px;
    right: -285px;
    min-width: 160px;
    border: solid;
    border-radius: 12px;
    border-width: 0px;
    z-index: 1;
  }
}

.more-menu__container:hover .more-menu__list {
  @media screen and (min-width: $desktop) {
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  }
}

.more-menu__item {
  @media screen and (min-width: $desktop) {
    padding: 0px;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(194, 194, 194);
    }
  }
}

.more-menu__link {
  @media screen and (min-width: $desktop) {
    padding: 24px 30px;
    color: var(--second-main-text-color);

    &:hover {
      color: var(--main-red-color);
      transition: all 0.3s ease;
    }
  }
}
