.header {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 60px;
    // display: flex;
    // justify-content: center;

    // z-index: 1;
    // @media screen and (min-width: 768px) {
    //   padding-top: 32px;
    //   position: absolute;
    //   width: 100%;
    // }

    // @media screen and (min-width: 1280px) {
    //   padding-top: 37px;
    // }
}

.home-header {
    position: absolute;
    background-image: none;
}

.other-page-header {
    padding-top: 70px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Hero.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__container {
    align-items: center;
}

.logo__container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo__link {
    display: block;
    color: var(--main-title-color);
    text-align: center;
    text-decoration: none;
}

.logo {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
}

.logo__text {
    font-size: 16px;
    font-weight: 400;
    color: var(--description-header-hero);
}

.contact__tell {
    display: block;
    color: var(--main-title-color);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 9px;
}

.contact__time {
    display: block;
    color: var(--description-header-hero);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
}

.header-menu__open {
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--main-red-color);
    border: none;
    border-bottom-left-radius: 8px;
}

.burger {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    width: 280px;
    background-color: rgb(240, 240, 240);
    top: 0;
    padding: 50px 30px;
    right: -280px;
    z-index: 1000;
    transition: right 0.3s ease;

    &.open {
        right: 0;
    }
}

.header-menu__close {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    right: 0;
    top: 0;
}

.site-nav__item-container {
    display: flex;
    align-items: center;
}

.site-nav__link {
    display: block;
    width: 100%;
    padding: 15px 0;
    color: var(--second-main-text-color);
    font-size: 18px;
    font-weight: 600;

    &:hover {
        color: var(--main-red-color);
        transition: all 0.3s ease;
    }
}

.site-nav__btn {
    width: 27px;
    height: 27px;
    background-color: transparent;
    border: none;
}

.site-nav__dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    width: 100%;

    &.open {
        max-height: 200px;
    }
}

.site-nav__item-services {
    padding: 0 0 0 10px;
}

.site-nav__link-services {
    display: block;
    padding: 15px 20px;
    color: var(--second-title-color);
    font-size: 16px;
    font-weight: 500;

    &:hover {
        background-color: var(--background-origin);
        color: var(--main-red-color);
    }
}