.info-services_title {
  margin: 20 0 10;
  font-size: 27px;
  font-weight: 600;
  color: var(--second-main-text-color);
}

.info-services_img {
  display: block;
  margin-bottom: 20px;
  border-radius: 6px;
}

.info-services_item {
  display: block;
  margin-bottom: 20px;
}

.info-services_text-span {
  color: var(--second-title-color);
}

.info-services_text {
  font-size: 16px;
}
