

.modal--second {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content--second {
  position: relative;
  background-color: #fff;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 90%;
  padding-bottom: 40px;
  padding-top: 60px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
   overflow: hidden;
    @media screen and (min-width: $desktop) and (max-width: 3600px) {
    width: 560px;
    padding: 60px;
  };
 @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: 380px;
    padding: 60px 32px 40px 32px;
  }
   @media screen and (min-width: $mobile) and (max-width: $tablet) {
    width: 280px;
   padding-left: 24px;
        padding-right: 24px;
  };
}

.modal__close--second {
  padding: 10px;
  font-weight: bold;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 64px;
  height: 64px;
  text-align: center;
  fill:var(--second-title-color);

  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

.modal__header {
  
  font-weight: 600;
  line-height: 120%;
   @media screen and (min-width: $desktop) and (max-width: 3600px) {
    font-size: 2vw;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    font-size: 24px;
  } 
   @media screen and (min-width: $mobile) and (max-width: $tablet) {
    font-size: 22px;
  }
}

.modal__subheader {
  color: var(--second-title-color);
    @media screen and (min-width: $desktop) and (max-width: 3600px) {
         font-size: 1.7vw;
    margin-top: 14px;
    margin-bottom: 25px;
  };
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
      font-size: 16px;
    margin-top: 8px;
    margin-bottom: 25px;
  }; 
   @media screen and (min-width: $mobile) and (max-width: $tablet) {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
  };
}

.modal__form {
  label {
    display: block;
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 15px;
  }

  input[type="text"],
  input[type="tel"] {
    background-color: var(--background-pages);
    font-size: 15px;
    width: 100%;
    padding: 15px 25px 15px 25px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 62px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  button {
    width: 100%;
    background-color:var(--main-red-color);
    color: white;
    padding: 20px 30px 20px 30px;
    border: none;
    min-height: 82px;
    font-family: Raleway, sans-serif;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
    margin-top: 15px;
   @media screen and (min-width: $desktop) and (max-width: 3600px) {
             font-size: 1.8vw;
             margin-top: 25px;
    };
       @media screen and (min-width: $tablet) and (max-width: $desktop) {
             font-size: 18px;
             margin-top: 25px;
    };

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
     padding-left: 25px;
     padding-right: 25px;
        
    };
  
    &:hover {
      background-color:var(--main-title-color);
      color:black;
      border: 2px solid var(--main-red-color);
      transition-property: all;
      transition-duration: 300ms;
      transition-delay: 0ms;
      transition-timing-function: ease;
    }
  }
}
.svg-image{
  width: 36px;
  height: 36px;
  fill:var(--second-title-color);
  stroke:var(--second-title-color);
}