.services-page_container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;

  @media screen and (min-width: $mobile) {
    padding-left: 3.7%;
    padding-right: 3.7%;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 6.7%;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 6.7%;
  }
}
