.we-work {
  background-color: var(--background-pages);
}

.we-work__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.1;
  color: var(--second-main-text-color);

  margin-bottom: 10px;

  @media screen and (min-width: $mobile) {
    font-size: 30px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 40px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 3.6vw;
    margin-bottom: 2.05%;
  }
}

.we-work__description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: var(--second-title-color);

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    margin-bottom: 45px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20;
    line-height: 1.6;
    margin-bottom: 50px;
  }
}

.slider {
  position: relative;

  &:hover {
    .next-btn,
    .prev-btn {
      fill: var(--second-title-color);
    }
  }
}

.slider__wrapper {
  position: relative;

  display: grid;

  padding-bottom: 40px;
  margin-right: -20px;
}

.slider__item {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid rgb(221 221 221);
  border-radius: 10px;

  padding: 20px;

  @media screen and (min-width: $desktop) {
    height: 140px;
    padding: 40px 20px;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.slider__card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 25px;
  border: 1px solid var(--second-title-color);
}

.slider__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--second-main-text-color);
}

.slick-dots {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: max-content;
}

.slick-dots > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(221 221 221);

  &:hover,
  &:focus {
    background-color: var(--red-hover-color);
  }
}

.slick-dots > li.slick-active {
  background-color: var(--main-red-color);
}

.slick-dots > li > button::before {
  display: none;
}

.slick-next {
  position: absolute;
  right: -6;
  top: 52;
  width: 25px;
  height: 25px;
  background-color: transparent;

  @media screen and (min-width: $desktop) {
    top: 72;
    right: -12;
  }
}

.btn-next {
  position: absolute;
  right: -29;
  top: 40;

  @media screen and (min-width: $desktop) {
    top: 60;
    right: -35;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.slick-next::before,
.slick-prev::before {
  display: none;
}

.next-btn,
.prev-btn {
  height: 25px;
  fill: transparent;
}

.slick-prev {
  position: absolute;
  left: -25;
  top: 52;
  width: 25px;
  height: 25px;
  background-color: transparent;

  @media screen and (min-width: $desktop) {
    top: 72;
    left: -30;
  }
}

.btn-prev {
  position: absolute;
  left: -28;
  top: 40;

  @media screen and (min-width: $desktop) {
    top: 60;
    left: -33;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
