:root {
  --main-title-color: rgb(255, 255, 255);
  --description-header-hero: rgba(255, 255, 255, 0.7);
  --second-title-color: rgb(107, 107, 107);
  --second-main-text-color: rgb(26, 26, 26);
  --main-red-color: rgb(229, 62, 68);
  --background-origin: rgb(255, 255, 255);
  --background-footer: rgb(26, 26, 26);
  --background-pages: rgb(240, 240, 240);
  --red-hover-color: rgba(229, 62, 68, 0.5);
}

// @media screen and (min-width: $mobile) {}
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
