<section class="info-services">
  <h1 class="info-services_title">Design</h1>
  <img
    class="info-services_img"
    src="./images/services/second-img-min.png"
    alt=""
  />

  <ul class="info-services_list">
    <li class="info-services_item">
      <p class="info-services_text">
        Дизайн – це одна з ключових послуг, які надають рекламні агенції. В
        рамках цієї послуги можуть включатися різні види робіт, наприклад:
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        1.
        <strong class="info-services_text-span">Дизайн бренду:</strong>
        Створення або оновлення логотипу, палітри кольорів, шрифтів та інших
        елементів бренду.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        2.
        <strong class="info-services_text-span">Дизайн упаковки:</strong>
        Загальний вигляд, етикетки та інші елементи упаковки можуть бути
        розроблені з урахуванням бренду та аудиторії.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        3. <strong class="info-services_text-span">Web-дизайн:</strong> Розробка
        привабливих та функціональних веб-сайтів, лендингів, інтернет-магазинів
        тощо.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        4.
        <strong class="info-services_text-span">Мобільний дизайн:</strong>
        Розробка інтерфейсів для мобільних програм.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        5.
        <strong class="info-services_text-span">Графічний дизайн:</strong>
        Включаючи розробку брошур, листівок, постерів, банерів та інших
        друкованих та цифрових матеріалів.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        6. <strong class="info-services_text-span">Motion Design:</strong>
        Створення анімованих графік, промо-роликів, короткометражних відео,
        відеоінфографіки і т.д.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        7.
        <strong class="info-services_text-span"
          >Дизайн соціальних медіа:</strong
        >
        Розробка графіки для публікацій, сторіс, обкладинок профілів,
        промо-матеріалів.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        8.
        <strong class="info-services_text-span">Інфографіка:</strong>
        Створення наочних та інформативних графічних схем та діаграм для
        презентації складної інформації.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        9.
        <strong class="info-services_text-span">Презентацій:</strong>
        Професійна підготовка бізнес-презентацій, підбір та оформлення слайдів,
        створення анімації та інтерактивних елементів.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        10.
        <strong class="info-services_text-span">3D дизайн:</strong> Моделювання
        та візуалізація об'єктів, пов'язаних із брендом.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        Конкретні послуги дизайну можуть змінюватись в залежності від рекламного
        агентства, його спеціалізації та потреб клієнта. Основна мета -
        створення візуального образу, який би допомагав у досягненні
        бізнес-цілей, залученні та утриманні аудиторії.
      </p>
    </li>
  </ul>
</section>
