<section class="info-services">
  <h1 class="info-services_title">Digital</h1>
  <img
    class="info-services_img"
    src="./images/services/fourth-img-min.png"
    alt=""
  />

  <ul class="info-services_list">
    <li class="info-services_item">
      <p class="info-services_text">
        Рекламні агентства надають низку послуг у галузі цифрового маркетингу.
        Ось деякі з них:
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        1.
        <strong class="info-services_text-span"
          >SEO (Search Engine Optimization):</strong
        >
        Оптимізація сайту для пошукових систем. Це може включати роботу з
        технічним SEO, контент-маркетингом, створенням та впровадженням
        стратегії побудови посилань та аналізом результатів.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        2.
        <strong class="info-services_text-span"
          >PPC (Pay Per Click) Реклама:</strong
        >
        Створення та керування рекламними кампаніями на платформах типу Google
        AdWords, Bing Ads тощо.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        3.
        <strong class="info-services_text-span"
          >SMM (Social Media Marketing):</strong
        >
        Це може Розробка стратегії реклами в соціальних мережах, створення та
        публікація контенту, цільова реклама, управління спільнотою, аналітика
        та звітність.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        4.
        <strong class="info-services_text-span">E-mail маркетинг:</strong>
        Розробка стратегії email-маркетингу, створення привабливих та
        персоналізованих розсилок, автоматизація процесу, аналітика.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        5.
        <strong class="info-services_text-span">Контент-маркетинг:</strong>
        Створення та поширення цінного, релевантного та послідовного контенту
        для залучення та утримання певної аудиторії.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        6. <strong class="info-services_text-span">Веб-аналітика:</strong>
        Встановлення та налаштування інструментів веб-аналітики, збирання та
        аналіз даних, підготовка звітів, забезпечення прозорості та керованості
        процесу прийняття рішень.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        7.
        <strong class="info-services_text-span"
          >Створення та розробка сайтів:</strong
        >
        Включаючи прототипування, дизайн, верстку, програмування, заповнення
        контентом, SEO-оптимізацію, тестування та підтримку веб-сайтів різної
        складності.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        8.
        <strong class="info-services_text-span">Мобільний маркетинг:</strong>
        Створення мобільних програм, реклама в мобільних додатках, SMS-розсилки
        і т.д.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        9.
        <strong class="info-services_text-span">Інфлюенсер-маркетинг:</strong>
        Робота з відомими особистостями в інтернеті для просування продукту чи
        послуги
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        Ці послуги можуть використовуватись як в інтегрованих кампаніях, так і
        окремо. Конкретний перелік послуг може змінюватись в залежності від
        конкретного агентства та потреб клієнта.
      </p>
    </li>
  </ul>
</section>
