<section class="services-partial-info container">
  <h1 class="services-partial-info_title">Послуги</h1>
  <ul class="services-partial-info_content">
    <li>
      <img src="./images/services/first-img-min.png" alt="">
      <h2>PR</h2>
      <p>Рекламні агентства надають широкий спектр послуг у галузі PR та маркетингу.</p>
    </li>
    <li>
      <img src="./images/services/second-img-min.png" alt="">
      <h2>Design</h2>
      <p>Дизайн – це одна з ключових послуг, які надають рекламні агенції.</p>
    </li>
    <li>
      <img src="./images/services/third-img-min.png" alt="">
      <h2>SMM</h2>
      <p>Рекламні агенції пропонують широкий спектр послуг у галузі соціальних медіа (SMM).</p>
    </li>
    <li>
      <img src="./images/services/fourth-img-min.png" alt="">
      <h2>Digital</h2>
      <p>Рекламні агентства надають низку послуг у галузі цифрового маркетингу.</p>
    </li>
  <ul/>
</section>