<section class="services-partial-info">
  <h1 class="services-partial-info_title">Послуги</h1>
  <ul class="services-partial-info_content">
    <li class="services-partial-info_item">
      <img class="services-partial-info_item-img" src="./images/services/first-img-min.png" alt="">
      <h2 class="services-partial-info_item-title">PR</h2>
      <p class="services-partial-info_item-text">Рекламні агентства надають широкий спектр послуг у галузі PR та маркетингу.</p>
    <a class="services-partial-info_link" href="./pr">Детальніше</a>
    </li>
    <li class="services-partial-info_item">
      <img class="services-partial-info_item-img" src="./images/services/second-img-min.png" alt="">
      <h2 class="services-partial-info_item-title">Design</h2>
      <p class="services-partial-info_item-text">Дизайн – це одна з ключових послуг, які надають рекламні агенції.</p>
    <a class="services-partial-info_link" href="./design">Детальніше</a>
    </li>
    <li class="services-partial-info_item">
      <img class="services-partial-info_item-img" src="./images/services/third-img-min.png" alt="">
      <h2 class="services-partial-info_item-title">SMM</h2>
      <p class="services-partial-info_item-text">Рекламні агенції пропонують широкий спектр послуг у галузі соціальних медіа (SMM).</p>
    <a class="services-partial-info_link" href="./smm">Детальніше</a>
    </li>
    <li class="services-partial-info_item">
      <img class="services-partial-info_item-img" src="./images/services/fourth-img-min.png" alt="">
      <h2 class="services-partial-info_item-title">Digital</h2>
      <p class="services-partial-info_item-text">Рекламні агентства надають низку послуг у галузі цифрового маркетингу.</p>
    <a class="services-partial-info_link" href="./digital">Детальніше</a>
    </li>
  <ul/>
</section>