<section class="info-services">
  <h1 class="info-services_title">SMM</h1>
  <img
    class="info-services_img"
    src="./images/services/third-img-min.png"
    alt=""
  />

  <ul class="info-services_list">
    <li class="info-services_item">
      <p class="info-services_text">
        Рекламні агенції пропонують широкий спектр послуг у галузі соціальних
        медіа (SMM). Ось деякі з них:
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        1.
        <strong class="info-services_text-span"
          >Створення та оптимізація профілів у соціальних мережах:</strong
        >
        Це може включати вибір правильних платформ, створення привабливих
        профілів та безперервне оновлення контенту.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        2.
        <strong class="info-services_text-span"
          >Розробка стратегії у соціальних мережах:</strong
        >
        Залежно від цілей бізнесу, агентство може розробити стратегію, яка буде
        найбільш успішною для залучення та залучення аудиторії.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        3.
        <strong class="info-services_text-span"
          >Створення та публікація контенту:</strong
        >
        Це може ⦁ Створення привабливого та інформативного контенту, який може
        збільшити залучення аудиторії та залучення нових передплатників.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        4.
        <strong class="info-services_text-span">Управління спільнотами:</strong>
        Включає модерацію коментарів, відповідь на запитання відвідувачів,
        проведення інтерактивних активностей тощо.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        5.
        <strong class="info-services_text-span"
          >Соціальні медіа аналітика:</strong
        >
        Збір, аналіз та інтерпретація даних соціальних медіа, таких як кількість
        передплатників, рівень залученості, частота відвідувань тощо.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        6.
        <strong class="info-services_text-span"
          >Соціальні медіа реклама:</strong
        >
        Створення та розповсюдження рекламних компаній на соціальних медіа
        платформах, включаючи таргетування та ретаргетування аудиторії,
        встановлення пікселів та трекінг переходів.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        7.
        <strong class="info-services_text-span">Інфлюенсер маркетинг:</strong>
        Підбір та залучення блогерів та знаменитостей для просування продукції
        чи послуг у їхніх соціальних мережах, а також аналітика ефективності
        даного способу просування.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        8.
        <strong class="info-services_text-span">Кризове SMM-управління:</strong>
        Агентство може допомогти вашій компанії впоратися з кризовими ситуаціями
        у соціальних медіа, мінімізувати репутаційний ризик та відновити довіру
        аудиторії.
      </p>
    </li>
    <li class="info-services_item">
      <p class="info-services_text">
        Залежно від ваших потреб і цілей рекламне агентство може запропонувати
        вам різні комбінації цих послуг.
      </p>
    </li>
  </ul>
</section>
