<section class="about-us">
  <h2 class="about-us__title">Про компанію</h2>
  <div class="about-us__content">
    <div class="about-us__image-box">
      <img
        class="about-us__image"
        src="./images/about-us.webp"
        alt="Про компанію"
      />
    </div>
    <div class="about-us__content-box">
      <h3 class="about-us__content-title">
        Ласкаво просимо до нашого PR-агентства!
      </h3>
      <span class="about-us__text">
        <p class="paragraph">
          Рекламне агентство – це спеціалізована компанія, яка займається
          створенням, плануванням та управлінням рекламними кампаніями для своїх
          клієнтів. Вона може також займатися іншими формами просування та
          маркетингу, включаючи піар, продаж та розподіл.
        </p>

        <p class="paragraph">Ось деякі з основних функцій рекламної агенції:</p>
        <p class="paragraph">
          1. Створення рекламних матеріалів: Це включає все від дизайну брошур
          до створення відеороликів та інтерактивних матеріалів для
          онлайн-платформ.
        </p>
        <p class="paragraph">
          2. <strong>Медіапланування:</strong> Агентство обирає найкращі канали
          для донесення рекламного повідомлення до цільової аудиторії. Воно
          аналізує демографію, психографію та медіаспоживання споживачів, щоб
          знайти найефективніші шляхи досягнення цільової аудиторії.
        </p>
        <p class="paragraph">
          3. <strong>Стратегія та планування:</strong> Рекламне агентство
          допомагає розробити всебічний маркетинговий план, який відповідає
          цілям та бюджету клієнта.
        </p>
        <p class="paragraph">
          4. <strong>Дослідження ринку:</strong> Агентство може проводити
          дослідження ринку, щоб зрозуміти потреби та поведінку споживачів, а
          також визначити основні конкуренти та їх стратегії.
        </p>
        <p class="paragraph">
          5. <strong>Аналіз та звітність:</strong> Після запуску кампанії
          агентство аналізує її ефективність та надає клієнту звіти.
        </p>
        <p class="paragraph">
          Рекламні агентства можуть бути всебічні або спеціалізовані, наприклад,
          агентствами цифрового маркетингу, PR-агентствами, агентствами з
          подійного маркетингу або агентствами медійного планування.
        </p>
      </span>
    </div>
  </div>
</section>
