<section class="digital container">
  <div class="digital__layout">
    <div class="digital__title-wrap">
      <h2 class="digital__title">
        Digital-рішення для вашого бізнесу
      </h2>
      <button class="digital__btn">Читати докладніше</button>
    </div>
    <div class="digital__text-wrap">
      <p class="digital__text">
        Ми найкраще об'єднуємо за допомогою стратегії окремі роботи та методи у
        комплексні проекти, які приносять користь компаніям та змінюють їх.
        <br />
        <br />
      </p>
      <p class="digital__text">
        Наше PR-агентство має сильну команду фахівців з багаторічним професійним
        досвідом у сфері маркетингу, реклами та піар у різних галузях у
        сегментах В2В та В2С.
      </p>
    </div>
  </div>
</section>
