<footer class="footer">
  <div class="footer__content container">
    <div class="company__title">
      <h2 class="company__name">AddWay</h2>
      <p class="company__discription">Рекламна агенція</p>
    </div>
    <div class="contacts">
      <p class="footer__tel__text">Дзвонити за номером:</p>
      <a href="tel:+380977158056" class="footer__tel">+380 (97) 715 80 56</a>
    </div>
    <div>
      <div class="footer__email">
        <p class="footer__email__title">Електронна пошта:</p>
        <a href="mailto:addway.comp@gmail.com" class="footer__mail"
          >addway.comp@gmail.com</a
        >
      </div>
      <div class="footer__working">
        <p class="footer__working__title">Час роботи:</p>
        <p class="footer__working__text">Пн-Пт 09:00-19:00</p>
      </div>
    </div>
  </div>
  <div class="footer__copyright container">
    <p class="footer__copyright__text">Copyright &#169; 2023-2024 AddWay</p>
    <div class="dev__support">
      <p class="dev__support__text">
        Підтримка. Розробка сайтів з Банда Нетмаркетолога:)
      </p>
      <span class="scroll_up">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="56"
          height="30.969"
          viewBox="0 0 56 30.969"
          data-prefix="igddjasfu"
          class="scroll_up__icon"
        >
          <path
            d="M53.15 30.967L28.001 5.704 2.852 30.967.007 28.109 28.001-.012l27.994 28.121z"
            fill-rule="evenodd"
          ></path>
        </svg>
      </span>
    </div>
  </div>
</footer>
