<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">Система послуг для запуску та розвитку проектів</h1>
    <p class="hero__text">
      Ми зібрали команду з 70+ спеціалістів у 4 напрямках, які допоможуть вам
      досягти цілей
    </p>
    <button  id="openModalBtn" type="button" class="hero__btn">Отримати консультацію</button>
    <ul class="hero__nav">
      <li class="hero__nav-item">
        <div class="hero__nav-circle"></div>
        <div class="hero__nav-line"></div>
        <a class="hero__nav-link" href="./pr">PR</a>
      </li>
      <li class="hero__nav-item">
        <div class="hero__nav-circle"></div>
        <div class="hero__nav-line"></div>
        <a class="hero__nav-link" href="./design">Design</a>
      </li>
      <li class="hero__nav-item">
        <div class="hero__nav-circle"></div>
        <div class="hero__nav-line"></div>
        <a class="hero__nav-link" href="./smm">SMM</a>
      </li>
      <li class="hero__nav-item">
        <div class="hero__nav-circle"></div>
        <div class="hero__nav-line"></div>
        <a class="hero__nav-link" href="./digital">Digital</a>
      </li>
    </ul>
  </div>
</section>
