<section class="preference">
  <div class="container">
    <div class="preference__title-wrap">
      <h2 class="preference__title">Чому ми?</h2>
      <p class="preference__under">Даємо більше ніж просто результат!</p>
    </div>

    <ul class="preference__list list">
      <li class="preference__list-item icon-bag">
        <div class="preference__list-content">
          <h3 class="preference__list-heading">Поліпшення іміджу</h3>
          <p class="preference__list-desc">
            PR-агентства допомагають своїм клієнтам покращити їхній імідж в очах
            громадськості, керуючи інформацією та виступаючи на користь
            клієнтів.
          </p>
        </div>
      </li>
      <li class="preference__list-item icon-arrow">
        <div class="preference__list-content">
          <h3 class="preference__list-heading">Поліпшення взаємовідносин</h3>
          <p class="preference__list-desc">
            PR-агентства допомагають покращити взаємини між клієнтами та
            журналістами, громадськими діячами та громадськістю в цілому.
          </p>
        </div>
      </li>
      <li class="preference__list-item icon-target">
        <div class="preference__list-content">
          <h3 class="preference__list-heading">Розширення охоплення</h3>
          <p class="preference__list-desc">
            PR-агентства використовують широке коло медіа та комунікаційних
            каналів, щоб розширити охоплення своїх клієнтів та донести їх
            повідомлення до більшої аудиторії
          </p>
        </div>
      </li>
      <li class="preference__list-item icon-diagram">
        <div class="preference__list-content">
          <h3 class="preference__list-heading">Економія часу та ресурсів</h3>
          <p class="preference__list-desc">
            Робота з PR-агентством може заощаджувати час та ресурси для
            клієнтів, оскільки вони мають досвід та знання, щоб ефективно
            керувати їх іміджем та репутацією.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
