<section class="sheme">
  <div class="container">
    <div class="sheme__layout">
      <div class="sheme__title-wrap">
        <h2 class="sheme__title">Схема роботи</h2>
        <p class="sheme__under">
          Пропонуємо клієнтам найкомфортніші умови для співпраці
        </p>
      </div>
      <ul class="sheme__list list">
        <li class="sheme__list-item">
          <div class="sheme__list-wrap">
            <span class="sheme__list-number">01</span>
            <div class="sheme__list-line"></div>
          </div>
          <div class="sheme__list-content">
            <h3 class="sheme__list-heading">Бріф</h3>
            <p class="sheme__list-desc">
              Аналіз завдань та цілей піар-кампанії
            </p>
          </div>
        </li>
        <li class="sheme__list-item">
          <div class="sheme__list-wrap">
            <span class="sheme__list-number">02</span>
            <div class="sheme__list-line"></div>
          </div>
          <div class="sheme__list-content">
            <h3 class="sheme__list-heading">Підготовка</h3>
            <p class="sheme__list-desc">
              Формування ключової ідеї та концепції, вибір форматів, офлайн- та
              онлайн-каналів комунікації
            </p>
          </div>
        </li>
        <li class="sheme__list-item">
          <div class="sheme__list-wrap">
            <span class="sheme__list-number">03</span>
            <div class="sheme__list-line"></div>
          </div>
          <div class="sheme__list-content">
            <h3 class="sheme__list-heading">Запуск</h3>
            <p class="sheme__list-desc">
              Підготовка та запуск проекту, розробка фірми
            </p>
          </div>
        </li>
        <li class="sheme__list-item sheme__list-icon icon-rocket">
          <div class="sheme__list-content">
            <h3 class="sheme__list-heading">Закінчення</h3>
            <p class="sheme__list-desc">
              Підготовка підсумкової презентації та звітів <br> з аналізу
              ефективності компанії
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
