
<div id="myModal" class="modal modal--second">
  <div class="modal__content modal__content--second">
    <span class="modal__close modal__close--second">
       <svg class="svg-image" width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M18 6L6 18" stroke=var(--second-title-color); stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M6 6L18 18" stroke=var(--second-title-color); stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
    </span>
    <div class="modal__header">Залиште заявку</div>
    <div class="modal__subheader">Наші спеціалісти з радістю зв’яжуться з Вами найближчим часом</div>
    <form class="modal__form">
      <label class="modal-form__label" for="name">Ваше ім'я:</label>
      <input class="modal-form__input" type="text" id="name" name="name" placeholder="Ваше имя">
      <label class="modal-form__label" for="phone">Телефон:<span style="color: red;">*</span></label>
      <input class="modal-form__input" type="tel"  id="phone" name="phone" placeholder="Телефон *" required>
<div class="modal__checkbox">
  <label>
    <input type="checkbox" required> <span>Ознайомлен з <br class="modal__checkbox-br"/> <a href="/src/pravicy.html">користувацькою угодою * </a> 
  </label>
</div>
      <button class="modal__btn" type="submit">Відправити</button>
    </form>
  </div>
</div>
</div>