<div>
  <h2 class="testimonials__title">Відгуки про нас</h2>
  <ul class="testimonials__wrapper">
    <li class="testimonials__item">
      <p class="testimonials__text">
        Хотів би відзначити доброзичливий підхід та лояльність до клієнтів, а це
        завжди допомагає зробити процес взаємодії приємним та продуктивним.
        Здорово, що ви щиро цікавитеся нашими потребами та очікуваннями.
        Співпраця стала для мене приємним досвідом.
      </p>
      <div class="testimonials__user">
        <span class="user__icon">
          <img src="./images/dmytrenko.webp" alt="Кирило Дмитренко" />
        </span>
        <h3 class="user__name">Кирило Дмитренко</h3>
      </div>
    </li>
    <li class="testimonials__item">
      <p class="testimonials__text">
        Звертаюся сюди вже не вперше, і можу з упевненістю сказати, що ви робите
        свою роботу чудово! Ціную високий професіоналізм, відповідальність та
        чуйне ставлення до клієнта. Дякую за чудову роботу!
      </p>
      <div class="testimonials__user">
        <span class="user__icon">
          <img src="./images/kravets.webp" alt="Вікторія Кравець" />
        </span>
        <h3 class="user__name">Вікторія Кравець</h3>
      </div>
    </li>
    <li class="testimonials__item">
      <p class="testimonials__text">
        Дуже вдячний за теплий та професійний підхід, який я отримав. Дякуємо за
        відповідальність, відкритість та готовність допомогти. Завжди
        рекомендуватиму вас друзям та знайомим
      </p>
      <div class="testimonials__user">
        <span class="user__icon">
          <img src="./images/popenko.webp" alt="Павло Попенко" />
        </span>
        <h3 class="user__name">Павло Попенко</h3>
      </div>
    </li>
  </ul>
</div>
