<section class="vacancies">
  <div class="vacancies__container container">
    <h2 class="section-title">Вільні вакансії в компанії</h2>
    <div class="vacancies__body">
      <div class="vacancies__item">
        <div class="vacancies__item-icon">
          <img src="./images/vacancies-icon-1.svg" alt="" />
        </div>
        <h2 class="vacancies__item-title">Direct – менеджер</h2>
        <div class="vacancies__item-salary">
          20 000 грн.
          <span>ставка + бонусна часть</span>
        </div>
        <div class="vacancies__item-duties">
          <span>Обов'язки:</span>
          <ul>
            <li>Робота із проектами наших замовників через соц. мережі.</li>
            <li>
              Виявлення цільової аудиторії та комунікація з нею в direct та
              месенджерах
            </li>
            <li>Комунікація зі SMM відділом та відділом продажів</li>
            <li>
              Контроль стану акаунту (публікація фото та відео матеріалів)
            </li>
          </ul>
        </div>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-icon">
          <img src="./images/vacancies-icon-2.svg" alt="" />
        </div>
        <h2 class="vacancies__item-title">Project – manager</h2>
        <div class="vacancies__item-salary">
          26 000+ грн.
          <span>ставка + бонусна часть</span>
        </div>
        <div class="vacancies__item-duties">
          <span>Обов'язки:</span>
          <ul>
            <li>
              Визначає цілі та концепцію проекту. Визначає принципи роботи над
              проектом.
            </li>
            <li>Оцінює ризики.</li>
            <li>Складає план проекту.</li>
            <li>
              Спілкування із замовниками, як внутрішніми, так і зовнішніми, -
              узгодження вимог, обговорення правок та перебігу робочого процесу.
            </li>
          </ul>
        </div>
      </div>
      <div class="vacancies__item">
        <div class="vacancies__item-icon">
          <img src="./images/vacancies-icon-3.svg" alt="" />
        </div>
        <div class="vacancies__item-title">
          Немає вакансії для Вас?
        </div>
        <div class="vacancies__item-text">
          <p>
            Але Ви впевнені, що Ви саме той працівник, який може втілити свій
            потенціал та були корисними компанії? <br /><br />
            Ми завжди відкриті для захоплених та розумних людей, тому дайте нам
            знати, що ви можете нам запропонувати!
          </p>
        </div>
        <div class="vacancies__item-contacts">
          <h3>
            Залюбки розглянемо <br />
            Вашу кандидатуру:
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
