<section class="section container">
  <h2 class="we-work__title">З ким ми працювали</h2>
  <p class="we-work__description">
    Реалізуємо проекти, які приносять вимірний результат
  </p>
  <div class="slider__wrapper">
    <div class="slider__item">
      <div class="slider__card">
        <img
          class="slider__icon"
          src="./images/ZhygunHerbs.jpg"
          alt="Zhygun Herbs"
        />
        <p class="slider__title">Zhygun Herbs</p>
      </div>
    </div>
    <div class="slider__item">
      <div class="slider__card">
        <img
          class="slider__icon"
          src="./images/ComfortConnect.jpg"
          alt="Comfort Connect"
        />
        <p class="slider__title">Comfort Connect</p>
      </div>
    </div>
    <div class="slider__item">
      <div class="slider__card">
        <img
          class="slider__icon"
          src="./images/OneLoveCoffee.jpg"
          alt="One love coffee"
        />
        <p class="slider__title">One love coffee</p>
      </div>
    </div>
    <div class="slider__item">
      <div class="slider__card">
        <img class="slider__icon" src="./images/ESL.jpg" alt="ESL" />
        <p class="slider__title">ESL</p>
      </div>
    </div>
    <div class="slider__item">
      <div class="slider__card">
        <img class="slider__icon" src="./images/Adient.jpg" alt="Adient" />
        <p class="slider__title">Adient</p>
      </div>
    </div>
    <div class="slider__item">
      <div class="slider__card">
        <img class="slider__icon" src="./images/eobuwie.jpg" alt="eobuwie.pl" />
        <p class="slider__title">eobuwie.pl</p>
      </div>
    </div>
    <div class="slider__item">
      <div class="slider__card">
        <img
          class="slider__icon"
          src="./images/ElringKlinger.jpg"
          alt="ElringKlinger"
        />
        <p class="slider__title">ElringKlinger</p>
      </div>
    </div>
  </div>
</section>
